environs

# Фрэймворк и его утилиты
fastapi
uvicorn

# Валидация
pydantic
pydantic-settings
pydantic[email]

# база данных
asyncpg
sqlalchemy[asyncio]
alembic
black

# хэширование, jwt
pyjwt
bcrypt
cryptography

# работа с yaml файлами
pyyaml

# кэширование
redis

# json утилита
orjson